.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 30; 
}

.loginModal {
    width: 480px;
    height: 621px;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    margin: 50px auto;
    padding: 20px;
    background: #fff;     
}

.close {
        float: right;
        font-size: 25px;
}

.modalContents {
        margin: 0 auto;
        width: 100%;
        position: relative;
        padding: 0 20px 32px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
}

.signinIcon {
        width: 150px;
        margin: 0 auto;
}


.modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);   
    }
    .signModal {
    
        width: 300px;
        height: 450px;
        position: relative;
        box-sizing: border-box;
        margin: 50px auto;
        padding: 20px;
        background: #fff;      
    }
    .close {
        float: right;
        font-size: 25px;
        cursor: pointer;
    }
    .modalDefault {
        margin: 0 auto;
        width: 100%;
        position: relative;
        padding: 0 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    
    .sign-info {
        margin-top: 15px;
        width: 100%;
        height: 40px;
        border: 1px solid gray;
        padding: 10px;
        box-sizing: border-box;
    }
    input::placeholder {
        color: gray;
    }
    
    .signBtn {
        height: 40px;
        cursor: pointer;
        background-color: gray;
        margin-top: 15px;
        border-style: none;
        margin-bottom: 10px;
        text-decoration: none;
    }
    .login{
        color: white;
        font-size: 15px;
        text-align: center;
        margin: 10px;  
    }
    
    .modalSocial {
        margin: 0 auto;
        width: 100%;
        position: relative;
        padding: 0 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    
    .facebookBtn {
        height: 50px;
        font-size: 20px;
        cursor: pointer;
        background-color: rgb(66, 103, 178);
        color: white;
        margin-top: 15px;
        border-style: none;
    }
    .googleBtn {
        height: 50px;
        font-size: 20px;
        cursor: pointer;
        background-color: rgb(255, 62, 48);
        color: white;
        margin-top: 15px;
        border-style: none;
    }
    .twitterBtn {
        height: 50px;
        font-size: 20px;
        cursor: pointer;
        background-color: rgb(0, 172, 237);
        color: white;
        margin-top: 15px;
        border-style: none;
    }