@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

.rec-section {
  position: relative;
  display: inline-block;
  background-image: url('../mainpage/first-section.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  font-size: 50px;
  color: white;
  line-height: 300px;
  }

.list-section {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 75%;
    height: auto;
    border-bottom: 10px double black;
    vertical-align: middle;
    padding-top: 30px;
    overflow: auto;
}
.map-post {
  height: auto;
  overflow: auto;
  position: relative;
  width: 100%;
}
.number-posts {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.location-posts {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 40px;
  color: black;
}
.show-div {
  width: 100%;
  bottom: 0;
  position: relative;
  float: right;
}
.show-button {
  cursor: pointer;
  text-align: center;
  border: 1px solid rgb(176, 176, 176);
  background-color: rgb(255, 255, 255);
  outline: none;
  border-radius: 30px;
  color: rgb(34, 34, 34);
  padding: 8px 16px;
  font-size: 16px;
  line-height: 16px;
  margin-left: 8px;
  margin-bottom: 15px;
  margin-top: 15px;
  float: right;
}
.upload-button {
  cursor: pointer;
  text-align: center;
  border: 1px solid rgb(176, 176, 176);
  background-color: rgb(255, 255, 255);
  outline: none;
  color: rgb(34, 34, 34);
  padding: 8px 16px;
  font-size: 16px;
  line-height: 16px;
  margin-left: 8px;
  margin-bottom: 15px;
  margin-top: 15px;
  float: left;
}

.upload-blank{
  text-align: center;
  outline: none;
  line-height: 16px;
  margin-left: 8px;
  margin-bottom: 15px;
  margin-top: 45px;
  float: left;
}